{% extends 'base.html.twig' %}

{% block body %}
    <div class="marketing">
        <div class="row">
            <div class="col-lg-12">
                {% trans %}Project created for fun by its author.{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}
