# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
    app.locale_listener:
        class: AppBundle\EventListener\LocaleListener
        arguments: ['@router', '%supported_locales%', '%kernel.default_locale%']
        tags:
            - { name: kernel.event_subscriber }
